.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 0.5rem 1rem; /* Header içi boşluk */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: none; /* Alt çizgiyi kaldır */
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #fafafa; /* Logo rengi */
}

.navigationMenu {
  display: flex;
  gap: 24px;
  color: #fafafa; /* Menü rengi */
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: auto;
  font-size: 14px; /* Menü için daha küçük font boyutu */
}

.movieWrapper {
  position: relative;
  padding: 1rem;
}

.movieTitle {
  color: white; /* Başlık rengi beyaz */
  font-size: 24px;
  margin: 0 0 1rem;
}

.overview {
  color: white; /* Metin rengi beyaz */
  font-size: 16px;
  margin-bottom: 1rem;
}

.shortOverview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.actionButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.playButton {
  background-color: #1f80e0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.addButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.moviePoster {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 1rem;
}

.moviePosterOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Responsive tasarım için medya sorguları */
@media (max-width: 768px) {
  .headerWrapper {
    flex-direction: column;
    align-items: center;
  }

  .navigationMenu {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .logo {
    font-size: 16px;
  }

  .navigationMenu {
    font-size: 12px;
    gap: 16px;
  }

  .movieTitle {
    font-size: 20px;
  }

  .overview {
    font-size: 14px;
  }

  .playButton,
  .addButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}
